# Ignore the large galactic diffuse file to avoid unnecessarily contributing to our git LFS bandwidth limit.
# To obtain the galactic diffuse file, the preferred method is to install the fermitools-data package from 
# the Anaconda cloud's fermi_dev_external channel.  If you must check it out from git via this package, comment
# out the filename below:

#gll_iem_v06.fits
#gll_iem_v07.fits
